.work{
	width: 100%;
	background: #eff3f7;
    border-radius: 5px;
    margin-bottom: 30px;
    display: block;
}
.work-body{
	background: #eff3f7;
	padding: 0 0 0 24px;
	margin: 0;
	list-style: none;
	min-height: 753px;
}
.work .work-header{
	font-family: "fira_sansbook";
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 26px 0;
	padding: 13px 23px;
	display: inline-block;
}
.work-wrap{
	box-sizing: border-box;
	width: 181px;
	height: 128px;
	border: 2px #3ba8c0 solid;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	margin-right: 24px;
	position: relative;
}
.work-info{
	display: inline-block;
	width:181px;
	font-family: 'fira_sanslight';
	font-size: 15px;
	line-height: 1.14;
	text-align: center;
	color: #4a545d;
	padding: 0;
	margin: 0 auto;
}
.work-image{
	box-sizing: border-box;
	width: 181px;
	height: 128px;
	margin: -2px -2px;
	border: 2px #3ba8c0 solid;
	overflow:hidden;
	border-radius: 5px;
	margin-bottom: 5px;
}
.caption-wrap{
	position: absolute;
	width: 100%;
    top: 55px;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.no-csstransforms .caption-wrap{
	left:-9999px;
}
.work-item:hover .caption-wrap{
	transform: scale(1);
	-webkit-transform: scale(1);
}
.no-csstransforms .work-item:hover .caption-wrap{
	left: 0;
}
.image-caption{
	font-family: 'fira_sansbook';
	font-size: 12px;
	color: #eff3f7;
	text-decoration: none;
	border: 2px solid #eff3f7;
  border-radius: 5px;
  padding: 0 2px;
}
.work-item:hover .work-image{
	-moz-opacity: 0.25;
	opacity:.25;
	filter: alpha(opacity=25);
}
.work-item:hover .work-wrap{
	background-color: #4191bb;
}

.work-link {
	font-family: 'fira_sanslight_italic';
	font-size: .8em;
	display: inline-block;
	color: #3ba8c0;
	text-decoration: none;
	padding: 0 0 8px 0;
}
.work-item{
	display: inline-block;
	margin-bottom: 39px;
	vertical-align: top;
}

.add-work{
	display: inline-block;
	width: 179px;
	height: 128px;
	
}
.add-work-link{
	display: table-cell;
	width: 179px;
	height: 128px;
	border: 1px #3ba8c0 dashed;
	border-radius: 6px;
	text-align: center;
	vertical-align: middle;
}
.add-work-link:hover{
	background-color: #ecfbff;
}

.add-block{
	font-family: 'fira_sanslight';
	font-size: 13px;
	text-decoration: none;
	color: #3ba8c0;
	display: inline-block;
	margin: 0;
	text-align: center;
	position: relative;
	top: 22px;

}
.add-block:before{
	content: url(../img/new-project.png);
	display: block;
	position: absolute;
    left: 35px;
    top: -41px;
}
.popup-wrap{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.popup-back{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #818e9b;
	-moz-opacity: .75;
	filter: alpha(opacity=75);
	opacity: .75;
}
.popup{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 362px;
	height: 494px;
	background-color: #eff3f7;
	border-radius: 4px;
	overflow: hidden;
	font-family: "fira_sansbook";
	font-size: 17px;
	font-weight: normal;
	color: #959aa8;
}
.hide{
	display: none;
}
.popup .popup-header{
	font-family: 'fira_sansregular';
	font-weight: normal;
  font-style: normal;
  font-size: 25px;
	color: #ffffff;
	background-color: #48cbe8;
	margin: 0 0 7px 0;
	padding: 4px 12px 1px 13px;
	border-bottom: 9px solid #67dffa;
}
.popup .close{
	content: url("../img/close.png");
	float: right;
	margin: 10px 12px 0 0;
	cursor: pointer;
}
.popup-form {
	padding: 0 20px;
	position: relative;
}



.popup-input,
.popup-input-file{
	font-family: 'fira_sanslight';
	font-size: 13px;
	color: #48cbe8;
	width: 321px;
	height: 41px;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 4px 10px 2px 10px;
	margin-bottom: 6px;
	cursor: pointer;
}
.popup-input-file{
	overflow: hidden;
	position: relative;
	text-align: left;
	vertical-align: middle;
	padding: 0;
	margin: 2px 0 8px 0;

}
#open-button-placeholder{
	background-color: #fbfcfd;
	float:left;
	height: 19px;
	overflow: hidden;
	padding: 10px 10px 10px 10px;
	text-align: left;
	width: 247px;
	cursor: pointer;
}
.open-button{
	background: url("../img/save.png") center no-repeat;
	background-color: #48cbe8;
	float: right;
	height: 42px;
	width: 52px;
	line-height: 41px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	cursor: pointer;
}
#project-file{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
	height: 100%;
	z-index:20;
}
.popup-input#project-about{
	height: 112px;
	resize: none;
}
.submit-button-wrap{
	width: 100%;
	box-sizing: border-box;
	display: block;
	padding-top: 2px;
}
.submit{
	background-color: #48cbe8;
	border-top: 2px solid #48cbe8;
	border-bottom: 2px solid #3ba8c0;
	float:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.popup-input::-webkit-input-placeholder {
color: #48cbe8 !important;
}
.popup-input:-moz-placeholder { /* Firefox 18- */
color: #48cbe8 !important;  
}
.popup-input::-moz-placeholder {  /* Firefox 19+ */
color: #48cbe8 !important;  
}
.popup-input:-ms-input-placeholder {  
color: #48cbe8 !important;  
}
input[type="file"] {
              cursor: pointer;
            }